# Exclude ide.
.idea

# Exclude generated config files.
conf.d/hostname.conf

# Exclude generated SSL certificates.
include/ssl/*
!include/ssl/ssl-shared-cert.inc

# Exclude logs.
log/*
!log/.gitkeep

# Exclude local vhost configuration.
vhosts/*
!vhosts/___.http.conf-EXAMPLE
!vhosts/___.https.conf-EXAMPLE
!vhosts/000-default.http.conf
!vhosts/000-default.https.conf

# Default vhost.
vhosts-default/http/*
!vhosts-default/http/index.html
!vhosts-default/http/phpinfo.php

# Exclude local certificates.
certificates/*
!certificates/README.md
